<!-- <div class="white" id="begin"></div>

<div class="container">
  <h1>Todas nuestras obras</h1>

  <div class="row">
    <app-construction class="col-md-4 mb-3" *ngFor="let construction of constructions"
      [construction]="construction"></app-construction>
  </div>
    <a [routerLink]="['/home', 'constructions']" class="btn btn-primary boton">Volver</a>
</div> -->


<div class="white" id="begin"></div>

<div class="container">
  <h1 class="section-title">Todas nuestras obras</h1>

  <div class="row">
    <ng-container *ngFor="let construction of constructions">
      <div class="col-md-4 mb-3">
        <app-construction [construction]="construction"></app-construction>
      </div>
    </ng-container>
    <div class="text-center">
      <a [routerLink]="['/home', 'constructions']" class="btn btn-primary boton">Volver</a>
    </div>
  </div>


</div>
