 
  <div class="card text-center">

    <img src="{{construction.img[0].url}}" alt="{{construction.nombre}}" class="card-img-top img-fixed-size centered-image">
    <div class="card-body d-flex flex-column align-items-center">
      <h5 class="card-title">{{construction.nombre}}</h5>
      <!-- <p class="card-text"> {{construction.descripcion}} </p> -->
      <a  class="btn btn-primary boton" (click)="showPopup()">Ver detalles</a>

      <div class="popup" *ngIf="isPopupVisible">
        
        <div class="popup-content">
          <div class="info">
                      <h3 class="detail-title"> {{construction.nombre}} </h3>
                      <p>Cliente: {{construction.cliente}} </p>
                      <p>{{construction.descripcion}}</p>
                      <p>{{construction.ubicacion}}</p>
                      <p>Estado: {{construction.estado}} </p>
                      <img class="imgsInPopup" *ngFor="let image of construction.img" [src]="image.url" alt="Imagen">
          </div>



  
          <button (click)="hidePopup()" class="btn btn-primary btn-position-fixed">Cerrar</button>
        </div>
      </div>


    </div>
  </div>
 