.card-img-top {
    width: 100%;
    height: 100%; /* ajusta la altura según tus necesidades */
    margin: 0 auto;
  }

  
  @media (max-width: 768px) {
  .card-img-top {
    width: 100%;
    height: auto;
  }

    .card-title {
        font-size: 2.5rem;
    }

    .padding-fixed{
        padding: 0;
    }

    
}

//padding betwen cards
.padding-fixed{
    padding: .8rem;
}

.fixed-height-image {
    height: 20rem;
    width: 20rem; /* Ajusta la altura deseada */
  }
  

